*{
	background-color: #EAEAEA;
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	z-index: 0;
}

/**navigation**/
nav{
	height: 100px;
}
nav div{
	padding: 40px 30px;
}
nav div i{
	color: #F673A9;
}
nav div span{
	font-family: 'Lobster', cursive;
	font-size: 1.5em;
}
nav ul{
	float: right;
}
nav ul li{
	display: inline-block;
	padding-left: 30px;
}

/**header**/
header{
	height: 140px;
	text-align: center;
	padding-top: 40px;
}
header q{
	color: #F673A9;
}

/**intro**/
#intro{
	height: 500px;
}
#introimage{
	margin: 0 auto;
	height: 300px;
	width: 80%;
	border-radius: 10px;
	background-image: url("../img/header.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#intro h3{
	color: #F673A9;
	text-align: center;
	padding-bottom: 30px;
	font-family: 'Lobster', cursive;
}
#leftcolumn,
#rightcolumn{
	width: 42%;
	display: inline-block;
	padding-left: 60px;
	padding-top: 40px;
}

/**photos**/
#photos{
	padding: 10px 40px;
	margin: 0px auto;
	width: 85%;
}
#photos div{
	display: inline-block;
	width: 15%;
	margin: 15px 17px;
	border: gray solid 2px;
	border-radius: 20px;
}
#photos div img{
	width: 100%;
	height: 200px;
	background-color: silver;
	border-radius:20px 20px 0 0; 
}
#photos div h4,
#photos div p{
	padding-left: 20px;
	background-color: white;
}
#photos div h4{
	border-radius: 0 0 0px 0px;
}
#photos div p{
	border-radius: 0 0 20px 20px;
	color: #F673A9;
}
#photos h3{
	color: #F673A9;
	text-align: center;
	padding-bottom: 30px;
	padding-top: 60px;
	font-family: 'Lobster', cursive;
}

footer{
	background-color: #2D2D2D;
	height: 300px;
}
footer #left{
	background-color: #2D2D2D;
	position: relative;
	top: 80px;
	left: 20px;
	display: inline-block;
}

footer h3{
	color: #F673A9;
	font-family: 'Lobster', cursive;
	background-color: #2D2D2D;
	padding-bottom: 20px;
}

.form1{
	width: 350px;
	margin-bottom: 10px;
}

button{
	border: none;
	background-color: #2D2D2D;
	color: white;
}
footer #right{
	float: right;
	position: relative;
	top: 150px;
	left: -150px;
	background-color: #2D2D2D;
}
footer #right i{
	background-color: #F673A9;
	border: solid #F673A9 1px;
	padding: 8px;
	border-radius: 25px;
	margin-left: 30px; 
}