*{
	font-family: 'PT Sans', sans-serif;
	margin: 0px;
}

/**navigation**/
nav{
	height: 90px;
	background-color: #FB7F00;
}
nav img{
	width: 30px;
	height: auto;
	margin: 25px 5px 20px 50px;
	display: inline-block;
}
nav h1{
	color: white;
	display: inline-block;
	position: relative;
	top: -30px;
}
nav h1 #header{
	font-weight: bolder;
}
nav ul{
	float: right; 
	display: inline-block;
}
nav ul li{
	display: inline-block;
	padding: 30px 20px 20px 10px;
}
nav a{
	color: white;
	text-decoration: none;
}
/**header**/
header div{
	margin-left: 80%;
	margin-top: 0px;
	margin-right: 60px;
	height: 30px;
	width: 180px;
	background-color: #F0EEEF;
	border: none;
}

header input{
	background-color: #F0EEEF;
	border: none;
}
header i{
	color: gray;
	background-color: #F0EEEF;
	border: none;
}

/**main body**/
section,
header{
	background-color: #FBFBFB;
}

section img{
	display: inline-block;
	clear: left;
	margin: 50px 10px 80px 100px;
	width: 35%;
	height: auto;
}
section #paragraph{
	float: right;
	font-size: 36px;
	width: 40%;
	margin-top: 100px;
	margin-right: 120px;
	color: #FB7F00;
}
section p span{
	font-weight: bold;
}
.green{
	color: #7ACCC8;
}
section div button{
	border: none;
	padding: 10px;
	width: 220px;
	height: 60px;
	margin-top: 50px;
	font-size: 20px;
	color: white;
}
#orange{
	background-color: #FB7F00;
}
#green{
	background-color: #7ACCC8;
	margin-left: 30px;
}
footer{
	background-color: #7ACCC8;
	height: 90px;
	clear: both;
}