body {
	font-family: 'Open Sans', sans-serif;
	padding-top: 50px;
	margin: 0px
}

nav {
	background: #02908B;
	height: 60px;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 100;
}

nav > a {
	color:  #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 26px;
	font-weight: 700;
	left: 25px;
	position: absolute;
	text-align: left;
	text-decoration: none;
	top: 10px;
}
nav span {
	font-family: 'Open Sans', sans-serif;
	color:  #cfc91d;
}

nav ul a{
	color: #fff;
	text-decoration: none;
	-webkit-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
	}
nav li > a:hover {
	color: #cfc91d;
}
nav ul{
	float: right;
}
nav li{
	display: inline-block;
	padding:0 15px;
}


nav div ul li{
	display: inline-block;
	padding: 0 2%;
}

nav div a {
	color: #464646;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}

header{
	background-image: url("../img/headerbg.png");
	background-color: blue;
	background-repeat: no-repeat;
	background-size: 100% 100%
	background-position: 100% 50%;
	color: #fff;
	height: 500px;
	padding-top: 15%;
	text-align: center;
}

header h1 {
	font-size: 36px;
	margin: 0;
}

header h2 {
	font-size: 72px;
	letter-spacing:20px;
	margin: 0;
}


header p {
	margin-top: 40px;
	font-size: 1.5em;
}
header p i{
	color: red;
}

header img{
	margin-top: 30px;
}

header a{
	background-color: #CDC71D;
	color: #0B1016;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 35px;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}
header a:hover {
	background-color: #fff; 
	color: #0B1016;
	cursor: pointer;
}

#about{
	text-align: center;
}

.title{
	color: #02918c;
	font-size: 46px;
	font-weight: bold;
	margin-bottom: 0;
}

#about img {
	margin: 15px 0;	
}

#about p {
	color: #7e8287;
	line-height: 41px;
	margin: 0 auto;
	width:63%;
	text-align: left;
}

.aboutboxes{
	color: #7e8287;
	margin: 0 auto;
	width: 80%;
}

.aboutbox{
	border-right: 1px solid black;
	display: inline-block;
	margin: 3% 0;
	padding: 0 $;
	width: 16%;
}

.aboutbox h3{
	font-size: 18px;
}


.aboutbox i {
	color: #02918c;
}
#aboutboxes .aboutbox p{ 
	font-size: 11px;
	font-weight: bold;
	line-height: 14px;
}
.aboutbox:last-child {
	border: none;
}


#projects{
	background-image: url("../img/projects.png");
	background-size: cover;
	display: inline-block;
	padding-left: 10%;
}
.projects > h3{
	width: 40%;
}
.projectsboxes{
	padding-top: 100px;
	width: 40%;
}
.projectsbox{
	display: inline-block;
	width: 20%;
}

#projects image{
		margin: 15px 0;	
}
#projects h3{
	color: #7e8287;
}
#projects i{
	color:#02918c; 
}
#contact {
	padding-bottom: 0;
	text-align: center;
}

#contact img {
	margin: 15px 0;	
}

#contact p {
    color:  #7e8287;
	line-height: 41px;
	width: 53%;
    margin: 0 auto 5%;
}

.contactForm {
	background: #0B0B0B;
	color: #7D8186;
	padding: 50px 25px;
}

.contactForm input {
	background: transparent;
	border: none;
	border-bottom: 1px solid #7D8186;
	color:#7D8186;
	font-size: 24px;
	height: 30px;
	text-align: center;
	width: 60%;
}

.contactForm textarea {
	background: transparent;
	border: none;
	border-bottom: 1px solid #7D8186;
	border-top: 1px solid #7D8186;
	color:#7D8186;
	font-size: 24px;
	text-align: center;
	width: 60%;
}

.contactForm input:focus,
.contactForm textarea:focus {
	outline: none;
}

.contactForm .half {
	margin: 2% 25%;
}

.contactForm .three_quarters {
	margin: 4% 10%;
}

.contactForm button {
	background-color: #CDC71D;
	border:none;
	clear: both;
	color: #0B1016; 
	font-weight: bold;
	font-size: 14px;
	padding: 10px 35px;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}

.contactForm button:hover {
	background-color: #fff; 
	color: #0B1016;
	cursor: pointer;
}

#sitefooter {
	background: #000;
	padding: 10px 0;
	width: 100%;
}

#sitefooter p {
	color:  #7e8287;
	text-align: center;
}
